apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      volumes:
        - name: config-json-volume
          configMap:
            name: config-json
      containers:
      - name: worker
        image: gcr.io/$PROJECT_ID/$IMAGE_WORKER:$GITHUB_SHA
        env:
          - name: REDIS_CELERY
            valueFrom:
              secretKeyRef:
                name: envs
                key: REDIS_CELERY
        volumeMounts:
          - name: config-json-volume
            mountPath: /app/config.json
            subPath: config.json
      restartPolicy: Always
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      volumes:
        - name: config-json-volume
          configMap:
            name: config-json
      containers:
      - name: scheduler
        image: gcr.io/$PROJECT_ID/$IMAGE_SCHEDULER:$GITHUB_SHA
        env:
          - name: REDIS_CELERY
            valueFrom:
              secretKeyRef:
                name: envs
                key: REDIS_CELERY
        volumeMounts:
          - name: config-json-volume
            mountPath: /app/config.json
            subPath: config.json
      restartPolicy: Always